<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Título de la página -->
    <title>OPEMA | Pedidos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
      el css lo importamos con toda la ruta, porque debemos recordar que el archivo es llamado
      desde el index o raíz del proyecto
      por lo tanto la ruta sería: views/css/bootstrap.min.css 
    -->
    <link rel="stylesheet" href="views/css/bootstrap.min.css">
</head>
<body>
  <!-- el ID = app me permite bindear con la instancia Vue  -->    
  <div class="container" id="app">
    <!-- Redireccionamos a la vista de administrador  -->
    <a href="?view=admin" class="btn btn-link">Inicio</a>
    <!-- al dar click en Nuevo Pedido mostramos el modal y el modo en 0 (Registrar pedido) -->
    <a href="#" class="btn btn-link" @click="showModal=true;mode=0">Nuevo Pedido</a>
    <h2 class="text-center">Administrar Pedidos</h2> 
    <form>
      <div class="form-group">
        <input type="text" class="form-control" v-model="valor">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" value="all" v-model="filterMode"> Todos
              </label>
          <label class="btn btn-primary active">
            <input type="radio" value="area" v-model="filterMode"> ID Area
          </label>
          <label class="btn btn-primary">
            <input type="radio" value="tipo" v-model="filterMode"> Tipo
          </label>
          <label class="btn btn-primary">
            <input type="radio" value="seguimiento" v-model="filterMode"> Seguimiento
          </label>
        </div>
      </div>
    </form>
    
    <div style="height:80vh; width:100%; overflow: scroll;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">N° pedido</th>
            <th scope="col">Area Id</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidad</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cod. ppto</th>
            <th scope="col">Cod. POMDIHMA</th>
            <th scope="col">Fecha de pedido</th>
            <th scope="col">Fecha atendido</th>
            <th scope="col">Fecha compra/servicio</th>
            <th scope="col">Seguimiento</th>
            <th scope="col">Costo estimado</th>
            <th scope="col">Costo Real</th>
          </tr>
        </thead>
        <tbody>                            
          <tr v-for="order in filterOrders">
            <td>{{order.npedido}}</td>
            <td>{{order.area_id}}</td>
            <td>{{order.descripcion}}</td>
            <td>{{order.cantidad}}</td>
            <td>{{order.unidad}}</td>
            <td>{{order.tipo}}</td>
            <td>{{order.cod_ppto}}</td>
            <td>{{order.cod_pomdihma}}</td>
            <td>{{order.fecha}}</td>
            <td>{{order.fecha_atendido}}</td>
            <td>{{order.fecha_pc}}</td>
            <td>{{order.seguimiento}}</td>
            <td>{{order.costo_estimado}}</td>
            <td>{{order.costo_real}}</td>
            <td> <a href='#' @click="showUpdateOrder(order)">Editar</a></td>
          </tr>                         
        </tbody>
      </table>
    </div>
    <div @click="exportData()" class="btn btn-success">Descargar Excel</div>

    <!-- ventana modal para agregar y actualizar pedidos  -->
    <!-- la ventana solo se mostrará cuando showModal sea verdadero  -->
    <div class="fixed-top w-100 h-100 d-flex justify-content-center align-items-center bg-primary" v-if="showModal">
      <form @submit.prevent="execSubmit()" class="w-75 d-flex flex-wrap align-items-center">
        <!-- Según el modo en que se encuentre mostrar el texto modo '0' Registrar, modo '1' Actualizar Pedido  -->
        <h1 v-if="mode==0" class="text-center w-100">Registrar Pedido</h1>
        <h1 v-else class="text-center w-100">Actualizar Pedido</h1>
        <!-- el fomulario se muestra solo cuándo registra un nuevo pedido
        si el pedido se actualiza, no lo muestra, ya que es el identificador y no debe ser modificado -->
        <div class="form-group col col-md-4" v-if="mode==0">
          <label class="w-100">
            # Pedido
            <input type="text" class="form-control" v-model="newOrder.npedido">          
          </label>
        </div>
        <div class="form-group col col-md-4">
          <label class="w-100">
            Area 
            <select v-model="newOrder.area_id" class="form-control">
              <option :value="area.area_id" v-for="area in areas">{{area.nombre}}</option>
            </select>
          </label>
          
        </div>
        <div  class="form-group col-md-4">
          <label class="w-100">
            Descripción
            <input type="text" class="form-control" v-model="newOrder.descripcion">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Cantidad
            <input type="text" class="form-control" v-model="newOrder.cantidad">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Unidad
            <input type="text" class="form-control" v-model="newOrder.unidad">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Tipo
            <input type="text" class="form-control" v-model="newOrder.tipo">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Cod. PPTO 
            <input type="text" class="form-control" v-model="newOrder.cod_ppto">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Cod. POMDIHMA 
            <input type="text" class="form-control" v-model="newOrder.cod_pomdihma">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Fecha 
            <input type="date" class="form-control" v-model="newOrder.fecha">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Fecha Atendido 
            <input type="date" class="form-control" v-model="newOrder.fecha_atendido">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Fecha Compra/Servicio 
            <input type="date" class="form-control" v-model="newOrder.fecha_pc">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Seguimiento 
            <input type="text" class="form-control" v-model="newOrder.seguimiento">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Costo Estimado 
            <input type="text" class="form-control" v-model="newOrder.costo_estimado">
          </label>
        </div>
        <div  class="form-group col col-md-4">
          <label class="w-100">
            Costo Real 
            <input type="text" class="form-control" v-model="newOrder.costo_real">
          </label>
        </div>
        <div  class="w-100 py-3">
            <!-- Según el modo que se encuentre se mostrar el botón registrar o actualizar  -->
            <input type="submit" class="btn btn-success" value="registrar" v-if="mode==0" >
            <input type="submit" class="btn btn-success" value="editar" v-else>
            <!-- al dar click en Cerrar el showModal pasa a falso y limpiamos los datos que se encuentren  -->
            <a href="#" class="btn btn-danger" @click="newOrder={};showModal=false">Cerrar</a>
        </div>
      </form>
    </div>

  </div>

  <!-- Importamos vueJS -->
  <!-- Documentación de VueJS  https://vuejs.org/v2/guide/   -->
  <script src="views/js/vue.js"></script>
  <!-- Importamos sweetalert2 para crea custom alerts (alertas personalizadas)  -->
  <!-- Documentación : https://sweetalert2.github.io/ -->
  <script src="views/js/sweetalert.js"></script>
  <script src="views/js/order.js"></script>

</body>
</html>